body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  padding: 0;
}

main {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 82px);
}

nav {
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
}

footer {
  height: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(248, 249, 250);
  padding-left: 15px;
  padding-right: 15px;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #bcbcbc;
}

// Buttons
.btn,
.page-item a,
.page-link {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  transition: all 100ms ease-in-out;
  --bs-btn-focus-box-shadow: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.btn:active,
.btn:active:focus,
.page-item a:active,
.page-item a:active:focus {
  box-shadow: inset 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 3px 3px 6px -3px rgba(0, 0, 0, 0.75);
}

.btn-primary {
  --bs-btn-border-color: #5499ff;
  --bs-btn-hover-border-color: #074cb5;
  background: linear-gradient(#5e9efd, #1f64ca);
}

.page-link.active, .active > .page-link {
  --bs-btn-border-color: #5499ff;
  --bs-btn-hover-border-color: #074cb5;
  background: linear-gradient(#5e9efd, #1f64ca);
}
